<img class="first" src="assets/main-page-photo.jpg">
<div class="main_component div-flex info-container">
  <img class="secound" src="assets/main-page-background.jpg">
  <div>
    <mat-card class="card info-card">
      <mat-card-header>
        <mat-card-title class="info-title">
          Információk <br>
          <hr>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="info-text">Üdvözöljük az XYZ Étterem weboldalán! Nálunk napi rendszerességgel válogathat a friss és
          ízletes ételek közül, melyeket az étlapunkon talál. Kínálatunkban szerepelnek a klasszikus magyar ételek, de
          megtalálhatók nálunk a nemzetközi konyha remekei is. Az online rendelés lehetősége pedig még kényelmesebbé
          teszi az étkezést, hiszen a kiválasztott ételeket az otthonából, vagy akár az irodából is megrendelheti. Az
          ételek kiszállítása hétfőtől péntekig 11 és 15 óra között történik, hogy Ön mindig friss és minőségi ételeket
          kapjon. Rendeljen most és élvezze az ízletes ételek varázsát otthonában vagy az irodában!"</p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="card info-card">
    <mat-card-header>
      <mat-card-title class="info-title">
        Kiszállítás, és árak:<br>
        <hr>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="info-text">A megrendelt menüt személyesen át tudja venni az éttermünkben nyitvatartási időben.
        A napi menü ára egységesen 2000.-Ft/adag, mely tartalmazza a levest, a választható főételt és a desszertet.
        Napi menü csak leves 650.-Ft, csak második 1700Ft.
        Kiszállítás esetén a napi menü ára:
        2150.-Ft
        A kiszállítás a regisztrációkor megadott lakcíre történik, 11:00-13:00-között.
        Készpénzes fizetés mellett lehetőség van szép kártyával és bankkártyával is fizetni online, vagy a futárnál!
        A futár telefonon értesít, a kiszállításkot!
        
        Allergén jelzések: G=glutén; Ts=tojás; T=tejféle; OM=olajos magvak
        
         Rendelés előtt kérjük olvassa el szállítási feltételeinket</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card info-card">
    <mat-card-header>
      <mat-card-title class="info-title">
        Az oldal használata:<br>
        <hr>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="info-text">A menüket a kosárba gomb megnyomásával lehet beletenni a kosárba, a gomb nem jelez vissza, de a kosár taltalma minden esetben változik. 
        A tételeket egyesével nem, de az egész kosarat lehet törölni! A felhasználó adatait a profilban a módosítás után lehet.
      Rendelni csak bejeletkezett felhasználó tud.</p>
    </mat-card-content>
  </mat-card>
</div>