 mat-card {
     align-self: center;
     width: auto;
     height: auto;
     flex-direction: column;
 }

 mat-card-header {
     display: initial;
 }

 .div-flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     
 }

 .main_component {
    height: 100vh;
     overflow: hidden;
     position: relative;
 }

 hr {
     color: rgba(255, 0, 0, 0.747);
     size: 20px;
     border: none;
     height: 4px;
     background-color: rgba(255, 0, 0, 0.747);
 }

 .card {
     position: relative;
 }